{% block tag_select_widget %}
    <select data-placeholder='{{placeholder}}' multiple name="{{full_name}}[tags]" id="hashtags-select">
    {%- for tag in data %}
        <option value={{tag.id}}>{{tag}}</option>
    {% endfor -%}
    </select>
    
    {{ encore_entry_script_tags('tag-select') }}
{% endblock %}