{% set media = entity.instance %}
{% set url = "uploads/"~media.url %}
<object style="max-width:800px; max-height:500px">
    {% if media.type|lower == 'image' %}
        <img src={{url}}>
    {% elseif media.type|lower == 'audio' %}
        <audio src={{url}}>
    {% elseif media.type|lower == 'video' %}
        <video src={{url}}>
    {% elseif media.type|lower == 'file' %}
        <a href={{url}}>{{media.name}}</a>
    {% else %}
        <p class="bg-danger text-light text-bold">Une erreur est survenue : type inconnu.</p>
    {% endif %}
</object>