{% set media = entity.instance %}
{% set url = "uploads/"~media.url %}

<h2>{{media.type}}</h2>

{% if media.type|lower == 'image' %}
    <img style="max-width: 800px; max-height: 600px" src={{url}}>
{% elseif media.type|lower == 'audio' %}
    <audio src={{url}}>
{% elseif media.type|lower == 'video' %}
    <video src={{url}}>
{% elseif media.type|lower == 'file' %}
    <a href={{url}}>{{media.name}}</a>
{% else %}
    <p class="bg-danger text-light text-bold">Une erreur est survenue : type inconnu.</p>
{% endif %}
