{% extends 'base.html.twig' %}

{% block title %}Identifiation | {{parent()}}{% endblock %}

{% block body %}
<div class="m-auto col-lg-6 col-md-9 col-sm-12 ">
    <form method="post" class="row justify-content-center align-items-evenly gap-3">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        <h1 class="h3 mb-3 text-center font-weight-normal">S'identifier</h1>
        <div class="form-floating">
            <input placeholder="name@example.com" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label class="ms-2" for="inputEmail">Email</label>
        </div>
        <div class="form-floating">
            <input placeholder="Password" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label class="ms-2" for="inputPassword">Mot de passe</label>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="w-25 btn btn-lg btn-primary" style="min-width:fit-content" type="submit">
            On y va !
        </button>
    </form>
    <div class="m-5 text-center">
        <p><a href="{{path('app_register')}}">Pas encore membre ?</a></p>
        <p><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ? 😨</a></p>
    </div>
</div>
{% endblock %}
