{% extends 'base.html.twig' %}

{% block title %}Export XML pour Accrochage{% endblock %}

{% block body %}
    <style>
        input[type="checkbox"] {
            display: none;
        }
        input:checked~label{
            background: darkslateblue;
            color: white;
            font-weight: bold;
            border: none;
        }
    </style>
    <h2>Sélectionner des passages de certifications à exporter :</h2>
    {% if error %}
        <p class="m-4 p-3 rounded text-light bg-danger fw-bold" style="width: fit-content">{{error}}</p>
    {% endif %}
    <form class="form" action="{{ path('app_passage_certification_to_xml')}}" method="post">
        <ul class="list-group list-group-flush">
        {% for passage in passagesCertif %}
            {% set stagiaire = passage.getStagiaire() %}
            {% set certif = passage.getCertification() %}
                <li class="list-group-item">
                    <input type="checkbox"
                        value={{passage.id}}
                            id="{{ passage.id }}"
                            name="passages[]">
                    <label class="form-control border-0 w-100" for="{{ passage.id }}">
                    {{passage}}
                    </label>
                </li>
        {% endfor %}
        </ul>
        <button aria-label="Télécharger" class="m-2 btn btn-primary" type="submit">Télécharger</button>
    </form>
{% endblock %}
