{% extends 'base.html.twig' %}

{% block title %}Export XML pour Accrochage{% endblock %}

{% block body %}
    <style>
        label {
            padding: 0.4rem;
            border-radius: 0.5rem;
            border: 1px dotted black;
        }
        input {
            display: none;
        }
        button {
            margin: 0.5rem;
        }
        input:checked~label{
            background: darkslateblue;
            color: white;
            font-weight: bold;
            border: none;
        }
        .cert_list {
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
        }
    </style>
    <h2>Sélectionner des passages de certifications à exporter :</h2>
    <form action="{{ path('app_passage_certification_to_xml')}}" method="post">
        <div class="cert_list">
        {% for passage in passagesCertif %}
        {% set stagiaire = passage.getStagiaire() %}
            <div>
                <input type="checkbox"
                       value={{passage.id}}
                        id="{{ passage.id }}"
                        name="passages[]">
                <label for="{{ passage.id }}">
                {{stagiaire.prenom ~ " " ~ stagiaire.nomNaissance ~ " (#{passage.dateDebutValidite|date('d-m-Y')})"}}
                </label>
            </div>
        {% endfor %}
        </div>
        <button type="submit">Télécharger</button>
    </form>
{% endblock %}
