{% extends 'base.html.twig' %}

{% block title %}Créer un compte | {{parent()}} {% endblock %}

{% block body %}
<div class="d-flex flex-column gap-3 align-items-center" style="max-width: 600px; margin: 0 auto;">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center">Créer un compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {attr:{class:'flex-grow-1 w-100'}}) }}
    <fieldset class="border border-secondary-subtle m-3 p-3 rounded-3">
        <legend>Vous</legend>
        <p class="small text-secondary">Pour que l'on puisse faire connaissance</p>
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nomNaissance) }}
        {{ form_row(registrationForm.adressePostale.codePostal)}}
        {{ form_row(registrationForm.adressePostale.pays)}}
        <input type="checkbox" id="notFrench" name="notFrench" class="btn-check">
        <label for="notFrench" class="btn btn-outline-primary small">Je ne réside pas en France</label>

        {{ encore_entry_script_tags('register_country_switch') }}

    </fieldset>
    <fieldset class="border border-secondary-subtle m-3 p-3 rounded-3">
        <legend>Vos identifiants</legend>
        <p class="small text-secondary">Ils vous serviront pour vous connecter.</p>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    </fieldset>

    <fieldset class="border border-3 border-light p-3 rounded-3 text-center" style="width: fit-content; margin: 1rem auto ">
        {{ form_row(registrationForm.agreeTerms, {
            label:'J\'accepte les conditions d\'utilisation'
            })
        }}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(registrationForm) }}
    </fieldset>
</div>
{% endblock %}
