{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
{% endblock %}

{% block body %}
<h1>{{question.title|e}}</h1>
<ul class="list-group list-group-flush mb-4">
{% for comment in question.comments %}
    
    <li class="list-group-item d-flex {% if 'ROLE_FORMATEUR_ERC' in comment.user.roles %}flex-row-reverse{%endif%} align-items-center p-3 {% if loop.first %}rounded-3 border border-1 border-tertiary-subtle {%endif%}">
        <div class="col-3 d-flex flex-column gap-1 justify-content-center align-items-center">
            {{ include('user/avatar_circle.html.twig', {user:comment.user, size: 96}) }}
            <p class="m-0 strong text-center">{{comment.user}}</p>
            {% if 'ROLE_FORMATEUR_ERC' in comment.user.roles %}
                <p class="m-0 small text-primary text-center">Équipe pédagogique ERC</p>
            {%endif%}
            {% if comment.user.stagiaire is not null %}
                <p class="m-0 small legend text-secondary text-center">Promo {{comment.user.stagiaire.promotion|last|default('')}}</p>
            {% endif %}
        </div>
        <div class="col-9 flex-grow-1 d-flex flex-column justify-content-center">
            <div class="legend">le {{comment.createdAt|date('d/m/Y à H:i')}}</div>
            <div class="{% if 'ROLE_FORMATEUR_ERC' in comment.user.roles %}bg-light{%else%}bg-primary-light{%endif%} rounded-3 px-3 py-2 mb-3">{{comment|raw}}</div>
        </div>
    </li>

{% endfor %}
</ul>
{{ include('comment/form.html.twig', { form:commentForm, discussion:question }) }}
{% endblock %}