{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | {{ parent() }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    <div class="mx-auto col-lg-6 col-md-9 col-sm-12">
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <p>
                <small>
                    Entrez l'adresse mail reliée à votre compte, nous vous enverrons un lien pour redéfinir votre mot de passe.
                </small>
            </p>

            <button class="btn btn-primary">Envoyer le lien</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
