{% extends 'base.html.twig' %}

{% block title %}CentreFormation index{% endblock %}

{% block body %}
    <h1>CentreFormation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DebutActivite</th>
                <th>FinActivite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre_formation in centre_formations %}
            <tr>
                <td>{{ centre_formation.id }}</td>
                <td>{{ centre_formation.name }}</td>
                <td>{{ centre_formation.debutActivite ? centre_formation.debutActivite|date('Y-m-d') : '' }}</td>
                <td>{{ centre_formation.finActivite ? centre_formation.finActivite|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_centre_formation_show', {'id': centre_formation.id}) }}">show</a>
                    <a href="{{ path('app_centre_formation_edit', {'id': centre_formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_centre_formation_new') }}">Create new</a>
{% endblock %}
