{# {{ form_start(form, {'attr': {'class': 'm-4'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mb-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form, {'attr': {'class': 'm-4 d-flex flex-column gap-3', 'style': 'max-width: 500px'}}) }}
<div class="border rounded p-3">
	{{ form_row(form.nomNaissance) }}
	{{ form_row(form.nomUsage) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.dateNaissance) }}
	{{ form_row(form.sexe, {'attr': {'class': 'd-flex gap-3'}}) }}
	{{ form_row(form.codePostalNaissance) }}
	{{ form_row(form.idDossierCpf) }}
</div>
<div class="border rounded p-3">
	{{ form_row(form.identifiantsFinanceurs) }}
	{{ form_row(form.email) }}
	{{ form_row(form.phone) }}
	{{ form_row(form.visio) }}
	{{ form_row(form.statut, {'attr': {'class': 'd-flex gap-3'}}) }}
	{{ form_row(form.adressePostal) }}
	<fieldset class="mb-3">
		<legend class="col-form-label">Lieux d'activités</legend>
	<ul class="lieuxActivite list-group list-group-flush"
	data-index="{{form.lieuxActivite|length>0 ? form.lieuxActivite|last.vars.name + 1 : 0}}"
	data-prototype="{{form_widget(form.lieuxActivite.vars.prototype)|e('html_attr')}}">

		{% if form.lieuxActivite|length == 0 %}
			<li class="list-group-item bg-light text-info fw-bold p-3 m-1 rounded no-delete-btn">Aucun lieu enregistré.</li>
		{% endif %}
		{% for lieu in form.lieuxActivite %}
			<li class="list-group-item bg-light p-3 m-1 rounded">{{ form_row(lieu)}}</li>
		{% endfor %}

	</ul>
	</fieldset>
	<button type="button" class="btn btn-info add_item_link" data-collection-holder-class="lieuxActivite">Ajouter un lieu</button>
</div>
<button class="btn btn-primary mb-5">{{ button_label|default('Save') }}</button>

<script>
	const addLieuFormDeleteLink = (item) => {
		const removeFormButton = document.createElement('button');
		removeFormButton.innerText = 'Supprimer ce lieu';
		removeFormButton.className = 'btn btn-secondary';

		item.append(removeFormButton);

		removeFormButton.addEventListener('click', (e) => {
			e.preventDefault();

			if (item.parentElement.querySelectorAll('li').length === 1) {
				item.className = "list-group-item bg-light text-info fw-bold p-3 m-1 rounded no-delete-btn";
				item.textContent = 'Aucun lieu enregistré.';
			}
			else // remove the li for the Lieu form
				item.remove();
		});
	}

	const addFormToCollection = (e) => {
		const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

		const item = document.createElement('li');
		item.className = 'list-group-item bg-light p-3 m-1 rounded';

		item.innerHTML = collectionHolder
			.dataset
			.prototype
			.replace(
			/__name__/g,
			collectionHolder.dataset.index
			);

		collectionHolder.appendChild(item);

		collectionHolder.dataset.index++;
    	addLieuFormDeleteLink(item);

		collectionHolder
			.querySelectorAll('li.no-delete-btn')
			.forEach (e => {e.remove()});
	};

	document
	.querySelectorAll('.add_item_link')
	.forEach(btn => {
		btn.addEventListener("click", addFormToCollection)
	});
	document
    .querySelectorAll('ul.lieuxActivite li:not(.no-delete-btn)')
    .forEach((Lieu) => {
        addLieuFormDeleteLink(Lieu)
    })


</script>