{# {{ form_start(form, {'attr': {'class': 'm-4'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mb-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form, {'attr': {'class': 'm-4 d-flex flex-column gap-3', 'style': 'max-width: 500px'}}) }}
<div class="border rounded p-3">
	{{ form_row(form.nomNaissance) }}
	<button class="btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsedNomUsage" aria-expanded="true" aria-controls="collapsedNomUsage">
		+
	</button>
	<div class="collapse" id="collapsedNomUsage">
		{{ form_row(form.nomUsage) }}
	</div>
	{{ form_row(form.prenom) }}
	{{ form_row(form.dateNaissance) }}
	{{ form_row(form.sexe, {'attr': {'class': 'd-flex gap-3'}}) }}
	{{ form_row(form.codePostalNaissance) }}
	{{ form_row(form.idDossierCpf) }}
</div>
<div class="border rounded p-3">
	{{ form_row(form.email) }}
	{{ form_row(form.visio) }}
	{{ form_row(form.statut, {'attr': {'class': 'd-flex gap-3'}}) }}
</div>
<button class="btn btn-primary mb-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
