{% set blocks = field.value %}
<ul class="list-group list-group-flush">
{% for block in blocks %}
    <li class="list-group-item bg-light font-monospace">
        Bloc 
        {% if block.content is not empty %}
            "{{block.content}}"
        {% else %}
            sans texte (position {{block.number}}) 
        {% endif %} ({{ block.section.chapter.seminar }},
        chapitre {{block.section.chapter.number}},
        section {{ block.section.number }})
    </li>
{% else %}
    <li class="list-group-item">Le média n'est pas utilisé, il peut être supprimé.</li>
{% endfor %}
</ul>