{% set chapters = field.value %}
{% for chapter in chapters|sort ((a, b) => a.number <=> b.number) %}
    <div class="accordion" id="accordion-chap-{{chapter.id}}">
        <div class="accordion-item">

            <h2 class="accordion-header" id="heading-{{chapter.id}}">
                <button data-bs-toggle="collapse" data-bs-target="#collapse-chapter{{chapter.id}}" class="accordion-button">
                    {{chapter.number ~ " - " ~ chapter.title}}
                </button>
            </h2>

            <div id="collapse-chapter{{chapter.id}}" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    
                    {% for section in chapter.sections|sort ((a, b) => a.number <=> b.number) %}
                        <div class="accordion" id="accordion-section-{{section.id}}">

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="heading-{{section.id}}">
                                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse-section{{section.id}}">
                                        {{chapter.number ~"."~section.number ~ " - " ~ section.title}}
                                    </button>
                                </h3>
                                <div id="collapse-section{{section.id}}" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        {% for block in section.blocks|sort ((a, b) => a.number <=> b.number) %}
                                            {{ include("block/block_gate.html.twig", {block: block}) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}