<footer class="row d-flex justify-content-between align-items-center justify-self-end py-3 px-4 bg-light no-mobile">
    <div class="col">
        <a href="/cgu">Conditions générales d'utilisation</a>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center align-items-center gap-3">
            {% for social in socials %}
                <a href="{{social.url}}" target="_blank"><img width="36" height="36" src="{{social.iconUrl}}" alt="{{ social.altText }}"></a>
            {% endfor %}
        </div>
    </div>
    <div class="col text-end">
        <a href="/mentions">Mentions légales</a>
    </div>
</footer>
<footer class="d-flex flex-column justify-content-between gap-2 align-items-center justify-self-end py-3 px-4 bg-light mobile">
    <div class="col">
        <div class="d-flex justify-content-center align-items-center gap-3">
            {% for social in socials %}
                <a href="{{social.url}}" target="_blank"><img width="36" height="36" src="{{social.iconUrl}}" alt="{{ social.altText }}"></a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <a href="/cgu">Conditions générales d'utilisation</a>
    </div>
    <div class="col text-end">
        <a href="/mentions">Mentions légales</a>
    </div>
</footer>