{% set url = '/uploads/' ~ block.media.url %}
<input type="checkbox" class="d-none" id="image-zoom-{{block.media.id}}">
<label for="image-zoom-{{block.media.id}}">
    <div>
        <figure class="w-100 d-flex flex-column gap-1 justify-content-center align-items-center my-2">
            <img style="max-width: min(800px,100%); max-height: 600px" src={{url}} alt={{block.media.name}}>
            <figcaption class="legend">{{block.content|raw}}</figcaption>
        </figure>
    </div>
</label>