{% extends 'base.html.twig' %}
{% block title %}
    Liste des séminaires disponibles | {{parent()}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-md d-flex flex-column gap-4 justify-items-start align-items-stretch">
    <h1>Tous les séminaires</h1>
        <div class="d-flex align-items-center gap-2">
            <i class="fa-solid fa-tags text-dark opacity-50"></i>
            <select multiple id="hashtags-select">
            {%- for tag in tags %}
                <option>{{tag}}</option>
            {% endfor -%}
            </select>
            {{ encore_entry_script_tags('seminar-filter') }}
        </div>
    <ul class="rounded-4 shadow px-0 pb-1">
        <li class="list-group-item p-0 mb-1">
            <div class="d-flex justify-content-between align-items-center gap-1 small bg-light p-2 rounded-3 strong">
            <div class="m-0" style="min-width: 60%">
                Cours
            </div>
 <div class="w-100 d-flex align-items-center justify-content-center">
                    Progression
                </div>
                <div class="w-100 d-flex align-items-center justify-content-center no-mobile">
                    Consulté le
                </div>

            </div>
            <div class="d-flex align-items-center px-3">
                <ul class="seminar-list w-100 list-group list-group-flush">
                    {% for seminar in seminars|filter(s => s.consultByUser(app.user).finishedChapters|default|length == 0) %}

                        {{ include('seminar/preview.html.twig', {seminar:seminar}) }}
                        
                    {% else %}
                        <li class="list-group-item small fst-italic">Aucun nouveau séminaire disponible pour l'instant.</li>
                    {% endfor %}
                </ul>
            </div>
        </li>


        {% if seminars|filter(s => s.consultByUser(app.user).finishedChapters|default|length > 0 and s.consultByUser(app.user).isFinished|default == false)|length > 0 %}
        <li class="list-group-item p-0">
            <div class="d-flex justify-content-between align-items-center gap-1 small bg-light p-2 strong">
                <div class="m-0" style="min-width: 60%">
                    {% if seminars|filter(s => s.consultByUser(app.user).finishedChapters|default|length > 0)|length > 1 %}
                    Démarrés
                    {% else %}
                    Démarré
                    {% endif %}
                </div>
            </div>
            <div class="d-flex align-items-center px-3">
                <ul class="seminar-list w-100 list-group list-group-flush">
                    {% for seminar in seminars|filter(s => s.consultByUser(app.user).isFinished|default == false and s.consultByUser(app.user).finishedChapters|default|length > 0) %}

                        {{ include('seminar/preview.html.twig', {seminar:seminar}) }}

                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endif %}

        {% if seminars|filter(s => s.consultByUser(app.user).isFinished|default == true)|length > 0 %}
        <li class="list-group-item p-0 mt-1">
            <div class="d-flex justify-content-between align-items-center gap-1 small bg-light p-2 strong">
                <div class="m-0" style="min-width: 60%" >
                    {% if seminars|filter(s => s.consultByUser(app.user).isFinished|default == true)|length > 1 %}
                    Terminés
                    {% else %}
                    Terminé
                    {% endif %}
                </div>
            </div>
            <div class="d-flex align-items-center px-3">
                <ul class="seminar-list w-100 list-group list-group-flush">
                    {% for seminar in seminars|filter(s => s.consultByUser(app.user).isFinished|default == true) %}
                    
                        {{ include('seminar/preview.html.twig', {seminar:seminar}) }}
                        
                    {% endfor %}
                </ul>
            </div>
        </li>

        {% endif %}
    </ul>
</div>
{% endblock %}
