{% set consult = seminar.consultByUser(app.user) %}
{% set percentDone = (consult.finishedChapters|default({})|length / seminar.chapters|length * 100)|round %}

{% if percentDone == 0 %}
    {% set semLink = path('app_seminar_intro',{id:seminar.id}) %}
{% else %}
    {% set semLink = path('app_seminar_read',{id:seminar.id, chapterId: consult.finishedChapters|sort|last + 1}) %}
{% endif %}

{% if consult.isFinished|default(false) == false %}
    
    <li class="px-0 list-group-item d-flex justify-content-between align-items-center gap-1" data-seminar-tags="{{seminar.tags|join(',')}}">
        <div style="min-width: 60%;" class="h6 m-0 d-flex flex-column justify-content-center align-items-start">
            <p class="m-0 d-flex gap-2"><i class="fa-regular fa-file-lines text-dark opacity-50"></i><a href="{{semLink}}">{{seminar}}</a></p>
            <div class="mt-1 mb-0 d-flex gap-2 align-items-center no-mobile">
                <i class="fa-solid fa-tags text-dark opacity-50"></i>
                {% for tag in seminar.tags %}
                    {{ include('tag/_badge.html.twig', {tag:tag}) }}
                {% endfor %}
            </div>
            <div class="mt-1 mb-0 dropdown mobile w-100">
                <i class="btn p-1 dropdown-toggle fa-solid fa-tags text-dark opacity-50" data-bs-toggle="dropdown"> </i>
                <div class="dropdown-menu border-0 bg-transparent">
                    <ul class="d-flex gap-1 p-0 align-items-center">
                        <li class="m-0 bg-white shadow-sm dropdown-item badge border border-tertiary text-tertiary">{{seminar.tags|join(', ')}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% if consult.finishedChapters|default({})|length > 0 %}
            <div class="w-100 text-center text-success d-flex flex-column align-items-center justify-content-center small">
                {{consult.finishedChapters|length}} sur {{seminar.chapters|length}} chap. lu{{consult.finishedChapters|length > 1 ?? "s"}}
                {{ include('seminar/progressBar.html.twig', {percentDone:percentDone}) }}
            </div>
        {% else %}
            <div class="w-100 text-center text-secondary fst-italic d-flex flex-column align-items-center justify-content-center small">
                Aucun chapitre lu
            </div>
        {% endif %}
        <div class="w-100 d-flex align-items-center justify-content-center small text-secondary no-mobile">{{consult ? consult.lastConsultedAt|date('d/m/Y à H:i','Europe/Paris') : "-"}}</div>
    </li>

{% else %}

    <li class="px-0 list-group-item d-flex justify-content-between align-items-center gap-1" data-seminar-tags="{{seminar.tags|join(',')}}">
        <div style="min-width: 60%" class="fst-italic h6 small m-0">
            <p class="m-0"><a href="{{path('app_seminar_intro',{id:seminar.id})}}">{{seminar}}</a></p>
            <div class="mt-1 mb-0 d-flex gap-2 align-items-center no-mobile">
                <i class="fa-solid fa-tags text-dark opacity-50"></i>
                {% for tag in seminar.tags %}
                    {{ include('tag/_badge.html.twig', {tag:tag}) }}
                {% endfor %}
            </div>
        </div>
        <div class="w-100 text-center text-primary fst-italic small d-flex flex-column align-items-center justify-content-center">
            Terminé
            {{ include('seminar/progressBar.html.twig', {percentDone:percentDone}) }}
        </div>
        <div class="w-100 d-flex align-items-center justify-content-center small text-secondary no-mobile">{{consult.lastConsultedAt|date('d/m/Y à H:i','Europe/Paris')}}</div>
    </li>

{% endif %}