{% extends 'base.html.twig' %}

{% block title %}Localisation{% endblock %}

{% block body %}
    <h1>Localisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ localisation.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ localisation.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ localisation.codePostal }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ localisation.departement }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ localisation.region }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ localisation.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ localisation.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_localisation_index') }}">back to list</a>

    <a href="{{ path('app_localisation_edit', {'id': localisation.id}) }}">edit</a>

    {{ include('localisation/_delete_form.html.twig') }}
{% endblock %}
