<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Ecole Richard Cross{% endblock %}</title>
        <link rel="icon" href="{{asset('favicon.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('fontawesome') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container d-flex flex-column mw-100 vh-100">
            {{ include('imports/header.html.twig') }}
            <main class="flex-grow-1 py-5 d-flex flex-column">
                {% block body %}{% endblock %}
            </main>
            {{ include('imports/footer.html.twig') }}
        </div>
    </body>
</html>
