{{ form_start(form, {'attr': {'class': 'm-4 d-flex flex-column gap-3', 'style': 'max-width: 500px'}}) }}
    {{ form_row(form.dateDebutValidite) }}
    {{ form_row(form.scoring) }}

    <fieldset class="mb-3">
        <legend class="col-form-label required">Stagiaire</legend>
    <input placeholder="Rechercher..." class="form-control" type="search" id="stagiaireSearch">
    <select class="form-select" id="listStagiaires" name="passage_certification[stagiaire]">
    {% for stagiaire in stagiairesList %}
        <option value={{stagiaire.id}} {% if selected is defined and selected == stagiaire.id %} selected {%endif %}>{{stagiaire}}</option>
    {%endfor %}
    </select>
    </fieldset>
    {{ form_row(form.certification) }}
    <button class="btn btn-primary mb-5">{{ button_label|default('Save') }}</button>
{{ form_row(form._token) }}

<script>
    const select = document.querySelector("#listStagiaires");
    const search = document.querySelector("#stagiaireSearch");
    const stagiairesList = Array.from(document.querySelectorAll("#listStagiaires option")).map(e => { return {id: e.value, name: e.textContent}})
    search.addEventListener("input", (e) => {
        select.replaceChildren();
        select.append(
            ...stagiairesList
                .filter((s) => {
                    return !e.target.value ? true : s.name.toLowerCase().includes(e.target.value.toLowerCase())
                })
                .map(s => {
                    const option = document.createElement('option');
                    option.value = s.id;
                    option.textContent = s.name;
                    return option;
                })
        );
    })
</script>