{% extends 'base.html.twig' %}

{% block title %}PassageCertification{% endblock %}

{% block body %}
    <h1>PassageCertification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passage_certification.id }}</td>
            </tr>
            <tr>
                <th>ObtentionCertification</th>
                <td>{{ passage_certification.obtentionCertification }}</td>
            </tr>
            <tr>
                <th>DonneeCertifiee</th>
                <td>{{ passage_certification.donneeCertifiee ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateDebutValidite</th>
                <td>{{ passage_certification.dateDebutValidite ? passage_certification.dateDebutValidite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinValidite</th>
                <td>{{ passage_certification.dateFinValidite ? passage_certification.dateFinValidite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PresenceNiveauLangueEuro</th>
                <td>{{ passage_certification.presenceNiveauLangueEuro ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PresenceNiveauNumeriqueEuro</th>
                <td>{{ passage_certification.presenceNiveauNumeriqueEuro ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Scoring</th>
                <td>{{ passage_certification.scoring }}</td>
            </tr>
            <tr>
                <th>MentionValidee</th>
                <td>{{ passage_certification.mentionValidee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_passage_certification_index') }}">back to list</a>

    <a href="{{ path('app_passage_certification_edit', {'id': passage_certification.id}) }}">edit</a>

    {{ include('passage_certification/_delete_form.html.twig') }}
{% endblock %}
