{% extends 'base.html.twig' %}

{% block title %}Changer d'avatar
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('new_avatar_preview') }}
{% endblock %}

{% block body %}
	<h1>Changer d'avatar</h1>
	<div class="profile-content">
		<div id="avatarPreview">
			{{ include('user/avatar_circle.html.twig', {user:app.user, size:120}) }}
		</div>
		<div class="profile-card">
			{{form_start(form)}}
			<legend class="form-section-title">Avatar</legend>
			{{form_row(form.image)}}
			<div class="w-100 d-flex justify-content-end  align-items-center gap-4 mt-2">
				<a class="mb-3" href="{{path('app_user_profile')}}">Annuler</a>
				{{ form_row(form.submit) }}
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
