{% extends 'base.html.twig' %}

{% block title %}Modifier son profil
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('symfony-collection') }}
{% endblock %}

{% block body %}

	{{ form_start(form,{ 'attr' : {'novalidate': 'novalidate'}})}}
	<h1>Modifier mon profil</h1>
	<div class="profile-content">
		<div class="profile-card col-12 col-sm-10 col-lg-7 col-xxl-5">
			<legend class="col-form-label">Général</legend>
			<div>
				<div class="d-flex gap-2 flex-column flex-md-row">
					{{ form_row(form.prenom) }}
					{{ form_row(form.nomNaissance) }}
					{{ form_row(form.nomUsage) }}
				</div>
				{{ form_row(form.dateNaissance) }}
				<div class="mb-3">
					{{form_errors(form.adressePostale)}}
					<div class="d-flex gap-2 flex-column flex-md-row">
						{{ form_row(form.adressePostale.adresse) }}
						{{ form_row(form.adressePostale.codePostal) }}
						{{ form_row(form.adressePostale.ville) }}
						{{ form_row(form.adressePostale.pays) }}
					</div>
				</div>
				{{ form_row(form.phoneNumber) }}
			</div>
		</div>

		<div class="profile-card col-12 col-sm-10 col-lg-7 col-xxl-5">
			<legend class="col-form-label">Professionnel</legend>
			{{ form_row(form.nomStructure) }}
			<div class="d-flex flex-column">
				<label>{{form_label(form.lieuxActivite)}}</label>
				<div class="form-error"></div>
				<ul class="lieuxActivite list-group" data-index="{{ form.lieuxActivite|length > 0 ? form.lieuxActivite|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.lieuxActivite.vars.prototype)|e('html_attr') }}">
					{% for lieuActivite in form.lieuxActivite %}
						<li class="list-group-item d-flex flex-column flex-md-row p-0 border-0">{{ form_row(lieuActivite) }}</li>
					{% endfor %}
				</ul>
				{{form_errors(form.lieuxActivite)}}
				<button type="button" class="add_item_link btn align-self-start" data-collection-holder-class="lieuxActivite">
					<i class="fa fa-add"></i>
				</button>
			</div>

		</div>

		<div class="profile-card col-12 col-sm-10 col-lg-7 col-xxl-5">
			<label>{{form_label(form.presenceWebs)}}</label>
			<ul class="presenceWebs list-group" data-index="{{ form.presenceWebs|length > 0 ? form.presenceWebs|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.presenceWebs.vars.prototype)|e('html_attr') }}">
				{% for presenceWeb in form.presenceWebs %}
					<li class="list-group-item d-flex flex-column flex-md-row p-0 border-0">{{ form_row(presenceWeb) }}</li>
				{% endfor %}
			</ul>
			{{form_errors(form.presenceWebs)}}
			<button type="button" class="add_item_link btn align-self-start" data-collection-holder-class="presenceWebs">
				<i class="fa fa-add"></i>
			</button>

		</div>

		{% if is_granted("ROLE_STAGIAIRE") or is_granted("ROLE_EX_STAGIAIRE") %}
			<div class="profile-card col-12 col-sm-10 col-lg-7 col-xxl-5">
				<legend class="col-form-label">Formation</legend>
				{{ form_row(form.stagiaire.idDossierCpf) }}
				{{ form_row(form.stagiaire.identifiantsFinanceurs) }}
				{{ form_row(form.stagiaire.sexe) }}
			</div>
		{% endif %}

		<div class="w-100 d-flex justify-content-center mt-2">
			{{ form_row(form.submit, { 'label': 'Confirmer'}) }}
		</div>
	</div>
	{{ form_end(form) }}

{% endblock %}
