{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="d-flex gap-3 align-self-center">
		<h1>Mon Profil</h1>
			<a href="{{path('app_user_edit')}}" class=" align-self-end mb-5">
				<i class="fa fa-edit fa-lg" aria-label="edit profile"></i>
			</a>
	</div>

	<div class="profile-content flex-column col-xl-8 col-lg-9 col-md-12">
		<div class="wrapper">
			<div class="profile-card flex-grow-1">
				<div class="d-flex gap-3 align-items-center mt-auto">
					<div class="d-flex">
						{{ include('user/avatar_circle.html.twig', {'user' : app.user, 'size': 64}) }}
						<a class="p-0 align-self-end ms-n1" href="{{path('app_user_change_avatar')}}" aria-label="change avatar">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
								<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
							</svg>
						</a>
					</div>
					<div>
						<p class="highlight">{{ app.user }}</p>
						<p class="p-0 m-0">{{ app.user.email }}</p>
					</div>
				</div>
				<a class="small-cta" href="{{path('app_forgot_password_request')}}">Changer de mot de passe</a>
			</div>


			<div class="d-flex flex-grow-1 gap-2">
				{% if is_granted("ROLE_ADMIN") %}
					<div class="profile-card status-badge status-badge-a flex-grow-1">
						<div class="status">Admin</div>
					</div>
				{% endif %}
				{% if is_granted("ROLE_FORMATEUR_ERC") or is_granted("ROLE_FORMATEUR_EXT") %}
					<div class="profile-card status-badge status-badge-f flex-grow-1">
						<div class="status">Formateur</div>
					</div>
				{% endif %}

				{% if is_granted("ROLE_STAGIAIRE") or is_granted("ROLE_EX_STAGIAIRE") %}
					<div class="profile-card status-badge status-badge-s flex-grow-1">
						<div class="status mb-2">Stagiaire</div>
						{% if app.user.stagiaire is not empty %}
							{{app.user.stagiaire.promotion|length > 1 ? "<div class='d-flex'>" : ""}}
							{% for promotion in app.user.stagiaire.promotion%}
								<div class="d-flex flex-column align-items-center {{promotion == app.user.stagiaire.promotion|first ? " pe-2" : (promotion == app.user.stagiaire.promotion|last ? 'ps-2' : 'p-2')}}{{app.user.stagiaire.promotion|length > 1 and promotion != app.user.stagiaire.promotion|last ? " border-end"}}">
									<div class="text-center">{{promotion.centreFormation }}</div>
									<div class="strong">{{promotion.startDate|date('Y') }}</div>
								</div>
							{% endfor %}
							{{app.user.stagiaire.promotion|length > 1 ? "</div>" : ""}}
						{% endif %}
					</div>
				{% endif %}

				{% if is_granted("ROLE_USER") and (app.user.roles|length == 1) %}
					<div class="profile-card status-badge status-badge-i flex-grow-1">
						<div class="status">Invité</div>
					</div>
				{% endif %}
			</div>

		</div>

		<div class="d-flex flex-column gap-2 flex-grow-1">
			<div class="profile-card accordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="infoGenT">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#infoGen" aria-expanded="true" aria-controls="general">
							Personnel
						</button>
					</h2>
					<div id="infoGen" class="accordion-collapse collapse" aria-labelledby="general">
						<div class="accordion-body gap-1">
							<div class="d-flex gap-3 align-items-center">
								<i class="fa fa-id-badge text-info"></i>
								<p>{{app.user}}</p>
							</div>
							{% if app.user.dateNaissance %}
								<div class="d-flex gap-3 align-items-center">
									<i class="fa fa-birthday-cake text-warning"></i>
									<p>{{app.user.dateNaissance|date("m/d/Y")}}</p>
								</div>
							{% endif %}
							<div class="d-flex gap-3 align-items-center">
								<i class="fa fa-map-marker text-danger"></i>
								<p>{{app.user.adressePostale}}</p>
							</div>
							{% if app.user.phoneNumber %}
								<div class="d-flex gap-3 align-items-center">
									<i class="fa fa-phone text-secondary"></i>
									<p>{{app.user.phoneNumber}}</p>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			{% if app.user.nomStructure or app.user.lieuxActivite is not empty %}
				<div class="d-flex flex-column gap-2 flex-grow-1">
					<div class="profile-card accordion">
						<div class="accordion-item">
							<h2 class="accordion-header" id="infoProT">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#infoPro" aria-expanded="true" aria-controls="professionnel">
									Professionnel
								</button>
							</h2>
							<div id="infoPro" class="accordion-collapse collapse" aria-labelledby="professionnel">
								<div class="accordion-body gap-1">
									{% if app.user.nomStructure %}
										<div class="d-flex gap-3 align-items-center">
											<i class="fa fa-briefcase"></i>
											<p>{{app.user.nomStructure}}</p>
										</div>
									{% endif %}
									{% if app.user.lieuxActivite|length > 0 %}
										{% for lieuActivite in app.user.lieuxActivite %}
											<div class="d-flex gap-3 align-items-center">
												<i class="fa fa-map-marker text-danger"></i>
												<p>{{lieuActivite}}</p>
											</div>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{% if (is_granted("ROLE_STAGIAIRE") or is_granted("ROLE_EX_STAGIAIRE")) and app.user.stagiaire is not empty %}
					<div class="profile-card accordion flex-grow-1">
						<div class="accordion-item">
							<h2 class="accordion-header" id="formationT">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#formation" aria-expanded="true" aria-controls="formation">
									Formation
								</button>
							</h2>
							<div id="formation" class="accordion-collapse collapse" aria-labelledby="formation">
								<div class="accordion-body gap-1">
									{% if app.user.stagiaire.idDossierCpf or app.user.stagiaire.identifiantsFinanceurs %}
										{% if app.user.stagiaire.idDossierCpf %}
											<div class="d-flex gap-2 align-items-center">
												<i class="fa fa-bank text-tertiary"></i>
												<p>
													<span class="strong me-1">CPF :
													</span>
													{{app.user.stagiaire.idDossierCpf}}</p>
											</div>
										{% endif %}
										{% if app.user.stagiaire.identifiantsFinanceurs %}
											<div class="d-flex gap-2 align-items-center">
												<i class="fa fa-bank text-tertiary"></i>
												<p>
													<span class="strong me-1">Autres identifiants financeurs :
													</span>
													{{app.user.stagiaire.identifiantsFinanceurs}}</p>
											</div>
										{% endif %}
										
									{% else %}
										<p>Aucun identifiants financeurs déclarés</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{% if app.user.presenceWebs is not empty %}
					<div class="profile-card accordion flex-grow-1">
						<div class="accordion-item">
							<h2 class="accordion-header" id="reseauxT">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#reseaux" aria-expanded="true" aria-controls="reseaux">
									Réseaux et sites
								</button>
							</h2>
							<div id="reseaux" class="accordion-collapse collapse" aria-labelledby="reseaux">
								<div class="accordion-body">
									{% for reseau in app.user.presenceWebs%}
										{% if reseau is not empty %}
											<div class="d-flex gap-3 align-items-center">
												<i class="fa{{'facebook' in reseau.url ? 'b fa-facebook text-info' : ('twitter' in reseau.url ? 'b fa-twitter text-info' : ('linkedin' in reseau.url ? 'b fa-linkedin text-info' : ('instagram' in reseau.url ? 'b fa-instagram text-accent' : ('youtube' in reseau.url ? 'b fa-youtube text-danger' : ('tiktok' in reseau.url ? 'b fa-tiktok' : ' fa-link' ) ) ))) }}"></i>
												<p>
													<a href="{{reseau.url}}">{{reseau.url}}</a>
												</p>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	{% endblock %}
